<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet"
	href="http://localhost:8080/css/bootstrap.min.css" />
<link rel="stylesheet" href="http://localhost:8080/css/main.css" />
</head>
<body>
	<div class="container">
		<div class="linha">
			<div class="sub-linha oitentaPercent left" style="font-size: 10px;"
				th:text="'RECEBEMOS DE ' + ${notafiscal.name} +' OS PRODUTOS E/OU SERVIÇOS CONSTANTES DA NOTA FISCAL ELETRÔNICA INDICADA ABAIXO'"></div>
			<div class="sub-linha left" style="width: 148px">
				<label class="sublinha-tit" th:text="'DATA DE RECEBIMENTO'">default</label>
			</div>
			<div class="sub-linha left" style="width: 398px;">
				<label class="sublinha-tit" th:text="'ASSINATURA DO RECEBEDOR'">default</label>
			</div>
			<div style="height: 60px; position: absolute; top: 0; right: 0;"
				class="sub-linha vintePercent right"></div>
		</div>

		<div class="linha-pontilhada"></div>

		<div class="linha">
			<div class="sub-linha vintePercent left" style="height: 100px;">
				<img class="logo" src="http://localhost:8080/images/logo.jpg" />
			</div>
			<div class="sub-linha quarentaPercent left" style="height: 100px"></div>
			<div class="sub-linha left" style="width: 273px; height: 100px"></div>
		</div>


		<label class="label-linha" th:text="'DESTINATÁRIO / REMETENTE'">default</label>
		<div class="linha">
			<div class="sub-linha sessentaPercent left">
				<label class="sublinha-tit" th:text="'NOME / RAZÃO SOCIAL'">default</label>
				<label class="sublinha-val" th:text="${notafiscal.name}">default</label>
			</div>
			<div class="sub-linha vintePercent left">
				<label class="sublinha-tit" th:text="'CPF / CNPJ'">default</label> <label
					class="sublinha-val" th:text="00000000000">default</label>
			</div>
			<div class="sub-linha vintePercent left">
				<label class="sublinha-tit" th:text="'DATA DE EMISSÃO'">default</label>
				<label class="sublinha-val" th:text="'00/00/0000'">default</label>
			</div>
			<div class="sub-linha cemPercent left">
				<label class="sublinha-tit" th:text="'ENDEREÇO'">default</label> <label
					class="sublinha-val" th:text="${notafiscal.address}">default</label>
			</div>
		</div>

		<label class="label-linha" th:text="'DADOS DOS PRODUTOS / SERVIÇOS'">default</label>
		<div class="linha">
			<div class="sub-linha cemPercent left"
				style="min-height: 20px; height: 20px;">
				<div class="titulo-table trintaPercent">DESCRIÇÃO</div>
				<div class="titulo-table " style="width: 52px">QUANT.</div>
				<div class="titulo-table dezPercent">VALOR UNIT</div>
				<div class="titulo-table" style="width: 30px">TAXA</div>
				<div class="titulo-table dezPercent">DESCONTO</div>
				<div class="titulo-table dezPercent">SUB-TOTAL</div>
				<div class="titulo-table dezPercent">RECURSO</div>
				<div class="titulo-table dezPercent" style="border-right: 0;">FUNÇÃO</div>
			</div>
			<div th:each="item : ${notafiscal.items}">
				<div class="sub-linha cemPercent left">
					<div class="value-table trintaPercent"
						th:text="${item.service_description}">default</div>
					<div class="value-table" style="width: 52px"
						th:text="${item.quantity}">default</div>
					<div class="value-table dezPercent" th:text="${item.unit_value}">default</div>
					<div class="value-table" style="width: 30px"
						th:text="${item.tax_percent}">default</div>
					<div class="value-table dezPercent"
						th:text="${item.discount_percent}">default</div>
					<div class="value-table dezPercent"
						th:text="${#numbers.formatDecimal(item.subtotal, 0, 'POINT', 2, 'COMMA')}">default</div>
					<div class="value-table dezPercent" th:text="${item.recurso}">default</div>
					<div class="value-table dezPercent" style="border-right: 0;"
						th:text="${item.funcao}">default</div>
				</div>
			</div>
		</div>

		<label class="label-linha" th:text="'TOTAL'">default</label>
		<div class="linha">
			<div class="sub-linha cemPercent left">
				<label class="sublinha-tit right" th:text="' '"></label> <label
					class="sublinha-val right"
					th:text="${#numbers.formatDecimal(notafiscal.value, 0, 'POINT', 2, 'COMMA')}">default</label>
			</div>
		</div>
	</div>
</body>
</html>